{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link href="{{ asset('templates/css/bootstrap-table.css') }}" rel="stylesheet">
{% endblock %}
    {% block body %}
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">
                        <svg class="glyph stroked home">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-home"></use>
                        </svg>
                    </a></li>
                <li class="active">Icons</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cabinet de Dr.{{ Cabinets.nomDocteur }}</h1>
            </div>
        </div>
        {% for message in app.flashes('notice') %}
            <div class="alert bg-success" role="alert">
                <svg class="glyph stroked checkmark">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-checkmark"></use>
                </svg>{{ message }}<a href="#" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading">Liste de Contact</div>
            <div class="panel-body">
                <a href="{{ path('RenderContact') }}" class="btn btn-primary btn-lg active" role="button"
                   aria-pressed="true">Ajouter un Contact</a>
                <div class="bootstrap-table clearfix">
                    <div class="table-container clearfix">
                        <div class="table-header clearfix">
                            <table></table>
                        </div>
                        <div class="table-body clearfix">
                            <div class="table-loading" style="top: 37px; display: none;">Loading, please wait…
                            </div>
                            <table data-toggle="table" data-show-refresh="true"
                                   data-show-toggle="true" data-show-columns="true" data-search="true"
                                   data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                                   data-sort-order="desc" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Gérer le Contact</th>
                                    <th>Contact ID</th>
                                    <th>Nom de Contact</th>
                                    <th>prenom de Contact</th>
                                    <th>Specialite de Contact </th>
                                    <th>Type de Contact </th>
                                    <th>Pays</th>
                                    <th>Ville de Contact :</th>
                                    <th>Téléphone Fix 1 de Contact </th>
                                    <th>Téléphone Fix 2 de Contact <</th>
                                    <th>Téléphone Fax de Contact </th>
                                    <th>Adresse E-mail de Contact </th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                        <td>
                                            <div class="btn-group dropdown-menu">
                                                <button type="button" class="btn btn-primary">Gére</button>
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="/Patient/details/{{ contact.id }}">View </a></li>
                                                    <li><a href="/Patient/edit/{{ contact.id }}">Edit </a>
                                                    </li>
                                                    <li><a href="/Patient/delete/{{ contact.id }}">Delete </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{ contact.id }}</td>
                                        <td>{{ contact.nom }}</td>
                                        <td>{{ contact.prenom }}</td>
                                        <td>{{ contact.specialite}}</td>
                                        <td>{{ contact.type }}</td>
                                        <td>{{ contact.pays }}</td>
                                        <td>{{ contact.ville }}</td>
                                        <td>{{ contact.tel }}</td>
                                        <td>{{ contact.tel2 }}</td>
                                        <td>{{ contact.fax }}</td>
                                        <td>{{ contact.email }}</td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('templates/js/bootstrap-table.js') }}"></script>
    {% endblock %}